* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 1500px;
    margin-bottom: 100px;
}

#header-section {
    background: url(./images/./top-banner.png) no-repeat left top;
}

.container-fluid {
    width: 1280px;
    margin: auto;
}

.header-container {
    display: flex;
    margin: auto;
}

.header-left {
    min-width: 50%;
    padding: 20px 0;
}

.header-left h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header-left h1 span {
    color: orange;
}

.header-left p {
    margin: 40px 0;
    color: #606060;
    font-size: 18px;
    text-align: justify;
}

.link-button {
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 19px;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
}

.header-right {
    min-width: 50%;
}

.header-right img {
    width: 100%;
    height: auto;
}



/* -------dream section------ */

#dream-section {
    background: url(./images/dream-bg.png) no-repeat right 70%;
}

.dream-section-container {
    display: flex;
}

.dream-left {
    width: 50%;
    text-align: center;
}

.dream-left img {
    width: 100%;
    height: auto;
}

.dream-right {
    width: 50%;
    padding: 20px 100px;
}

.dream-right h1 {
    font-size: 50px;
    margin: 30px 0;
}

.dream-right h3 {
    margin-bottom: 30px;
}

.dream-right p {
    margin: 40px 0;
    color: #606060;
    font-size: 18px;
    text-align: justify;
}


/* Experience section */
#experiece-section {
    background: url(./images/exp-bg.png) no-repeat -15px 75%;
}

.experience-container {
    display: flex;
    justify-content: space-evenly;
}

.experience-heading {
    font-size: 40px;
    padding: 40px 20px;
}

.experience-left {
    height: 450px;
    width: 40%;
    padding: 0 30px;
    border-left: 7px solid #FF6347;
    box-shadow: 4px 4px 40px gray;
}

.experience-container h1 {
    font-size: 45px;
    margin: 40px 0;
}

.experience-container h2 {
    color: orange;
    margin: 20px 0 40px 0;
}

.experience-container p {
    margin: 40px 0;
    color: #606060;
    font-size: 18px;
    text-align: justify;
}

.experience-right {
    height: 450px;
    width: 40%;
    padding: 0 30px;
    border-left: 7px solid blue;
    box-shadow: 4px 4px 40px gray;
}

footer p {
    text-align: center;
    color: #606060;
    padding: 20px 0;
}