* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Poppins', sans-serif;
}

section {
    width: 1500px;
}

#header-section {
    background: url(./images/./top-banner.png) no-repeat left top;
}

.container-fluid {
    width: 1380px;
}

.header-container {
    display: flex;
    margin: auto;
}

.header-left {
    min-width: 50%;
    padding: 20px 0;
}

.header-left h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header-left h1 span {
    color: orange;
}

.header-left p {
    margin: 40px 0;
    color: #606060;
    font-size: 18px;
    text-align: justify;
}

.header-left a {
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 19px;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
}

.header-right {
    min-width: 50%;
}

.header-right img {
    width: 100%;
    height: auto;
}



/* -------dream section------ */

#dream-section {
    margin-top: 20px;
}

.dream-section-container {
    display: flex;
}

.dream-left {
    width: 50%;
    text-align: center;
}

.dream-left img {
    width: 100%;
    height: auto;
}

.dream-right {
    width: 50%;
    padding: 20px 100px;
}

.dream-right h1 {
    font-size: 50px;
    margin: 30px 0;
}

.dream-right h3 {
    margin-bottom: 30px;
}

.dream-right p {
    margin: 40px 0;
    color: #606060;
    font-size: 18px;
    text-align: justify;
}

.dream-right a {
    background-image: linear-gradient(lightsalmon, tomato);
    font-size: 19px;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
}